<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" />
    
  </head>
  <body>
	  <div class="container">
	  
		<h1>Flask Playground - Code Next</h1>
		
	  <p>Use this project to explore basic Flask functionlity. Use it to understand
      How Flask works, how templates are rendered and data is passed from the server
      to the client view. Use it to make your own beginner Flask app!
    </p>
    <h4>Pages to explore:</h4>   

    <p><a href="/dynamic">Dynamic Page:</a>a See a bare bones page that dynamically loads data from a list passed from server.</p>
    <p><a href="/info">Info: </a> See what data you can read from your Raspberry Pi. (Only works on a Pi, but youc an modify it to display other system data)</p>
    <p><a href="/nasa">Nasa Picture of the Day: </a> is a demo of how to call a 3rd party API and render content in Jinja/Flask</p>
	  
	  </div>
  
  </body>
</html>
