<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" />
    
  </head>
  <body>
	  <div class="container">
	  
		<h1>System Info</h1>
		<hr/>
		<h3>CPU Temp:</h3>
		<p>{{temp}}</p>
		
		<h3>IP Address:</h3>
		<p>{{ipaddr}}</p>
		
		<h3>Free Disk Space:</h3>
		<p>{{freemem}}</p>
		
		<h3>Processor:</h3>
		<p>{{cpuinfo}}</p>
		
		<h3>Uptime:</h3>
		
		<p>{{uptime}}</p>
		
		
		
		
	      
	  
	  
	  </div>
  
  </body>
</html>
