body {

background:#2C5F72;
color: #f3d2b3;
font-family: 'Secular One', sans-serif;

}
.container{
 margin-top: 5%;
 text-align:center;
}

.data-results{

 border-color:#F38C8D;
 border-radius:5px;
 

}

p{

 font-size:12px;

}

.aotd-img{
 
  width: 80%;
  height:auto;

}
